@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: #0f172a;
    background: #f8fafc;
    font-family: "Inter", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    @apply m-0 bg-background text-slate-900 antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold tracking-normal;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full;
  }
}